/* ---------- General changes ---------- */
/* Overall */
* {
	font-family: sans-serif;
}

/* Highlight */
::-moz-selection {
	background: var(--bs-accent);
}
::selection {
	background: var(--bs-accent);
}

:focus,
::selection {
	box-shadow: none !important;
	border-color: var(--bs-accent) !important;
}

/* Scrollbar */
::-webkit-scrollbar {
	width: 0.4em;
}
::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: var(--bs-accent);
}
/* ---------- End of General changes ---------- */

/* ---------- Themes ---------- */
/* Dark Theme */
[data-bs-theme="dark"] {
	--bs-body-bg: #030a11 !important;
	--accent-color: #ffcc00;

	background-color: var(--bs-body-bg) !important;

	.bg-light,
	.text-bg-light,
	.btn-light,
	.btn-outline-light:hover {
		background-color: var(--accent-color) !important;
		border-color: var(--accent-color) !important;
	}

	.btn-outline-light {
		border-color: var(--accent-color) !important;
	}

	.navbar {
		background-color: #c9aa2e !important;
	}
}

/* Light Theme */
[data-bs-theme="light"] {
	--bs-body-bg: #f4f4f4 !important;
	--accent-color: #ffcc00;

	background-color: var(--bs-body-bg) !important;

	.bg-dark,
	.text-bg-dark,
	.btn-dark,
	.btn-outline-dark:hover {
		background-color: #b39b14 !important;
		border-color: #b39b14 !important;
	}

	.btn-outline-dark {
		border-color: #b39b14 !important;
	}

	.navbar {
		background-color: #f1c783 !important;
	}
}
/* ---------- End of Themes ---------- */

/* ---------- Bootstrap customise  ---------- */
/* Hero Image */
.hero {
	max-width: 100dvw !important;
	overflow-x: hidden;
}
.hero img {
	max-height: 50dvh;
	min-width: 100dvw;
	object-fit: cover;
	-webkit-user-drag: none;
	filter: brightness(0.8);
}

[data-bs-theme="dark"].hero img {
	filter: brightness(50%);
}

/* Scrollspy */
.scrollspy {
	overflow-y: scroll;
	max-height: 60dvh;
}
/* ---------- End of Bootstrap customise  ---------- */

/* ---------- Hover  ---------- */
/* Bootstrap Icons */
.bi-twitter-x:hover {
	fill: black;
	transition: 0.2s ease-in-out;
}
.bi-instagram:hover {
	fill: #fe5522;
	transition: 0.2s ease-in-out;
}

.bi-facebook:hover,
.bi-linkedin:hover {
	fill: #0866ff;
	transition: 0.2s ease-in-out;
}

.bi-snapchat:hover {
	fill: yellow;
	transition: 0.2s ease-in-out;
}
/* ---------- End of Hover  ---------- */
