/* Font */
* {
	font-family: sans-serif;
}

/* Scrollbar */
body::-webkit-scrollbar {
	width: 0.4em;
}

body::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: var(--bs-accent);
}

[data-bs-theme="dark"] {
	--bs-accent: var(--bs-light);
}

[data-bs-theme="light"] {
	--bs-accent: var(--bs-dark);
}

/* Hero Image */
.hero img {
	max-height: 50dvh;
	min-width: 100dvw;
	object-fit: cover;
}
